main { 
  background-color: #fff; /*что бы сохранить соответствие с макетом, задала здесь белый цвет, a в body #f1f1f1*/
} 

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 52px 95px 50px;
  background-color: #fff; 
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__menu {
  width: 391px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration-line: none;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  max-width: 240px;
  justify-self: end;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0/0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 0;
  font-family: 'Raleway',  sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
  color: #fff;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  padding: 106px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.lots { 
  margin: 0 24px; 
  background-color: #fff; 
} 

.lots__heading { 
  padding: 0 819px 27px 40px; 
  font-family: 'Raleway', sans-serif; 
  font-weight: 700;  
  font-size: 40px; 
  color: #000; 
  text-transform: uppercase; 
} 

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px; /*при соблюдении иерархии заголовков в html, уменьшила размер шрифту с 22px)*/
  color: #fff;
  text-decoration: none;
}

.card__title {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  text-decoration-style: solid;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  height: 100%;
  text-decoration-line: none;
  text-transform: none;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0 0 30px;
}

.lots__card-list-item {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 0 0 40px;
}

.about {
  margin: 120px 24px 0;
  padding: 0 0 180px;
  background-color: #fff;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo title"
  ". text";
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 35px 72px 8px 47px;
  padding: 62px 47px 62px 50px;
  box-sizing: border-box;
}

.about__logo-image {
  max-width: 100%;
  max-height: 100%;
}

.about__title {
  grid-area: title;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  justify-self: start;
  padding: 136px 0 92px 25px;
}

.about__text {
  font-family:'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 0 25px;
}

footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 82px;
  background-color: #fff;
}

.footer .address {
  max-width: 264px;
  justify-self: start;
}

.footer__menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 164px;
}

.footer__menu-list-item {
  height: 22px;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration-line: none;
}

.footer__social-list-item {
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-self: end;
  flex-wrap: wrap;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  width: 48px;
  height: 48px;
}
